---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
		
{%- assign date_format = "%b %-d, %Y" -%}

<div class="post-meta">
<h3 class="post-title">
  <a  href="{{ post.url | relative_url }}">
    {{ page.title | escape }}
  </a>
</h3>
<span class="post-date">{{ page.date | date: date_format }}</span>
</div>

<div class="post-content e-content" itemprop="articleBody">
	{{ content }}
</div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</article>